@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');


#tt-target1, #tt-target2, #tt-target3 {

    display: none;
}

h1{
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Raleway';
    font-weight: 400;
}
h2 {
      font-family: 'Raleway';
    font-weight: 300;
}

div.max-width {
     width: 1084px;
     padding-bottom: 40px;
}

body {
    /* border: 7px solid black; */
    padding:0;
    margin: 0;
    background-color: #f5f5f5;
    height: 3000px;
    
   
}

.example-1, .example-2 {
    padding-left: 30px;
}

.pop-up_1, .pop-up_2, .pop-up_3,.drop-down_1, .drop-down_2, .drop-down_3 {
 width: 30%;
 display: inline-block;
}


.box{
        top: 0px;
    left: 0px;
    position: absolute;
    color: white;
    background-color:black;
    width: 150px;
    top: 257px;
    left: 17px;
    padding: 15px;
   
   
}
.box2{
        top: 0px;
    left: 0px;
    position: absolute;
    color: white;
    background-color:black;
    width: 150px;
    top: 257px;
    left: 334px;
    padding: 15px;
   
   
}

.box3{
        top: 0px;
    left: 0px;
    position: absolute;
    color: white;
    background-color:black;
    width: 150px;
    top: 275px;
    left: 655px;
    padding: 15px;
   
   
}


.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
   top: 243px;
   left: 88px;
  border-bottom: 15px solid black;
   position: absolute;

}
.arrow-up2 {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
   top: 243px;
   left: 410px;
  border-bottom: 15px solid black;
   position: absolute;

}

.arrow-up3 {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
   top: 260px;
   left: 730px;
  border-bottom: 15px solid black;
   position: absolute;

}


.box p, .box2 p {
    font-family: 'Raleway';
    font-weight: 300;
}
button.button1 {
    background-color: #404040;
    color: white;
    border: none;
    padding: 14px;
    text-align: center;
    width: 100px;
    font-size: 15px;
    position: relative;
    margin-bottom:  200px;
     clip: rect(10px,100px,50px,10px);
    
}

.examples {
    padding-left: 20px;
}

button.button2 {
    background-color: #404040;
    color: white;
    border: none;
    padding: 14px;
    text-align: center;
    width: 100px;
    font-size: 15px;
    position: relative;
   

}

ul {
    background-color: black;
    list-style-type: none;
    padding: 5px;
    width: 100px;
    box-sizing: border-box;
        margin: 0;
     /* display: none; */
    
    

}

li {
    color: white;
    padding: 3px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 300;
   
}

.hidden {
    overflow: hidden;
     /* display: none;  */
}
.box-1 {
     position: relative; 
    top: 0px;
    left: 0px;
      /* margin-top: -70px;   */
    
}

.box-2 {
     position: relative; 
    top: 0px;
    left: 0px;
    
}

.box-3 {
    position: relative;
    top: 0px;
    left: 0px;
    
}

/* .box-2 {
    position: absolute;
    top: 522px;
    left: 300px;
    
} */
/*  
  .show {
display: block;
}    */

